<div class="row">
    <div class="col-sm-9">
        <h2>{{title}}</h2>
    </div>

    <div class="col-sm-3">
        {{#link-to "deck.edit" id classNames="btn btn-default"}}
            Edit
        {{/link-to}}

        <a href="#" class="btn btn-danger" {{action deleteDeck}}>
            Delete
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="card-group">
            <strong>Creatures</strong>

            {{deck-card-list collection=creatures}}
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card-group">
            <strong>Instants</strong>

            {{deck-card-list collection=instants}}
        </div>

        <div class="card-group">
            <strong>Sorceries</strong>

            {{deck-card-list collection=sorceries}}
        </div>
    </div>

    <div class="col-sm-3">
        <strong>Enchantments</strong>

        {{deck-card-list collection=enchantments}}
    </div>
</div>
