<div class="container">
    <div class="row">
        <div class="slide col-xs-2">
            <div class="btn btn-default slide-button" {{action toggleMenu}}>
                <i class="ion-navicon-round"></i>
            </div>
        </div>

        <div {{bind-attr class=":col-sm-3 :col-xs-10 :card-list showMenu:show-menu"}}>
            <div class="search row">
                <div class="col-sm-8 col-xs-8">
                    {{input value=searchQuery classNames="form-control" placeholder="Search..."}}
                </div>

                <div class="col-sm-4 col-xs-4">
                    <button class="btn btn-default" {{action toggleFilters}}>
                        Filters
                    </button>
                </div>
            </div>

            <div {{bind-attr class=":filters :row showFilters:show-filters:"}}>
                <div class="col-sm-12">
                    {{render "filter"}}
                </div>
            </div>

            {{#each content}}
                {{#link-to "card.detail" id}}
                    <h4>{{unbound name}}</h4>
                {{/link-to}}
            {{/each}}
        </div>

        <div {{bind-attr class=":col-sm-8 :col-sm-offset-3 :col-xs-10 :outlet showMenu:show-menu"}}>
            {{outlet}}
        </div>
    </div>
</div>
