<div class="row">
    <div {{bind-attr class="editMode:hidden:col-sm-3 :list-group"}}>
        <div class="row add-deck">
            <div class="col-sm-12">
                <button {{action createNewDeck}} class="btn btn-default">
                    Create New Deck
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{#each deck in content}}
                    {{#link-to "deck.detail" deck.id classNames="list-group-item"}}
                        {{deck.title}}
                    {{/link-to}}
                {{/each}}
            </div>
        </div>
    </div>

    <div {{bind-attr class="editMode:col-sm-12:col-sm-9"}}>
        {{outlet}}
    </div>
</div>
